# Splunk Configuration
SPLUNK_HOST=https://3.92.46.246:8089
SPLUNK_USERNAME=root
SPLUNK_PASSWORD=KRAVIKIRAN

# AbuseIPDB
ABUSEIPDB_API_KEY=2APH%UQQc8HfG7q;Ncv1Bf$*vBu5g*ZB

# Lookup Output
LOOKUP_FILE=lookups/abuseipdb_lookup.csv